// bitmaps
101 PNG "../graphics/sn01g/sn01g_bk.png"
102 PNG "../graphics/sn01g/sn01g_b1.png"
103 PNG "../graphics/sn01g/sn01g_b2.png"
104 PNG "../graphics/sn01g/sn01g_b3.png"
105 PNG "../graphics/sn01g/sn01g_gr.png"
106 PNG "../graphics/sn01g/sn01g_s1.png"
107 PNG "../graphics/sn01g/sn01g_s3.png"
