// bitmaps
101 PNG "../graphics/sn04g/sn04g_bk.png"		// background
102 PNG "../graphics/sn04g/sn04g_b0.png"		// inner knob
103 PNG "../graphics/sn04g/sn04g_b1.png"		// rim knob
104 PNG "../graphics/sn04g/sn04g_b2.png"		// HPF knob
105 PNG "../graphics/sn04g/sn04g_b3.png"		// LPF knob
106 PNG "../graphics/sn04g/sn04g_b4.png"		// gain knob
107 PNG "../graphics/sn03g/sn03g_b2.png"		// 2-way sliding switch
108 PNG "../graphics/sn04g/sn04g_b5.png"		// 4-way sliding switch
109 PNG "../graphics/sn04g/sn04g_s1.png"		// bell switch button
110 PNG "../graphics/sn04g/sn04g_s2.png"		// phase switch button
111 PNG "../graphics/sn04g/sn04g_ld.png"		// on/off led
112 PNG "../graphics/sn04g/sn04g_pk.png"		// peak led
113 PNG "../graphics/sn04g/sn04g_s3.png"		// "A" button
