// bitmaps
101 PNG "../graphics/sn03g/sn03g_bk.png"
102 PNG "../graphics/sn01g/sn01g_b1.png"		// large knob
103 PNG "../graphics/sn01g/sn01g_b2.png"		// small knob
104 PNG "../graphics/sn01g/sn01g_s1.png"		// switch
105 PNG "../graphics/sn02g/sn02g_v1.png"		// vu needle
106 PNG "../graphics/sn02g/sn02g_p1.png"		// peak needle
107 PNG "../graphics/sn02g/sn02g_l1.png"		// peak led
108 PNG "../graphics/sn03g/sn03g_b1.png"		// headroom switch
109 PNG "../graphics/sn03g/sn03g_b2.png"		// on/off switch
110 PNG "../graphics/sn03g/sn03g_s1.png"		// 3-way switch
111 PNG "../graphics/sn04g/sn04g_s3.png"		// "A" button
