// bitmaps
101 PNG "../graphics/sn02g/sn02g_bk.png"
102 PNG "../graphics/sn02g/sn02g_v1.png"
103 PNG "../graphics/sn02g/sn02g_p1.png"
104 PNG "../graphics/sn02g/sn02g_b1.png"
105 PNG "../graphics/sn02g/sn02g_b2.png"
106 PNG "../graphics/sn02g/sn02g_b3.png"
107 PNG "../graphics/sn02g/sn02g_dm.png"
108 PNG "../graphics/sn02g/sn02g_t1.png"
109 PNG "../graphics/sn02g/sn02g_l1.png"
201 PNG "../graphics/sn02g/sn02g_xl.png"
202 PNG "../graphics/sn02g/sn02g_v2.png"
203 PNG "../graphics/sn02g/sn02g_p2.png"
208 PNG "../graphics/sn02g/sn02g_t2.png"
209 PNG "../graphics/sn02g/sn02g_l2.png"
